.Line {
  @for $i from 1 through 6 {
    > div:nth-child(#{$i}) {
      animation-delay: #{($i * 200) + 4000}ms;
      animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
      animation-duration: 1s;
      animation-fill-mode: forwards;
    }
  }

  @for $i from 1 through 6 {
    > div:nth-child(#{$i}) img {
      animation-delay: #{($i * 100) + 6000}ms;
    }
  }

  @for $i from 1 through 6 {
    > div:nth-child(#{$i}) > div {
      animation-delay: #{($i * 100) + 6000}ms;
    }
  }
}
